.container {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #0D0D0D;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.bloc{
    display: flex;
    flex: 1;
    height: calc(100vh - 100px);
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    
}

.bloc h4{
    text-transform: uppercase;
    font-size: 1.3rem;
    transform: translateY(4rem);
}

.bloc p{
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    width: 450px;
    line-height: 1.7rem;
    color: rgb(39, 39, 39);
}

.bloc:first-child{
    align-items: flex-start;
    margin: 0;
}

.bloc:first-child h1{
    color: #FFC42B;
    transform: translateX(-.5rem) translateY(2rem);
}

.bloc:last-child h1{
    transform: translateY(-2.3rem);
    text-align: right;
}


.bloc:last-child{
    background-color: #FFC42B;
    flex: 1;
}

.title{
    font-size: 14rem;
    text-transform: uppercase;
}

.button{
    border-radius: 5px;
    width: 150px;
    border: none;
    font-weight: 700;
    padding: .9rem 0;
    cursor: pointer;
    outline: none;
    background-color: #FFC42B;
    color: white;
    text-transform: uppercase;
}


.imgBloc{
    width: 550px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

 
}