.container{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff3b41;
}

.imgContainer{
    width: 650px;
    height: 500px;
}