.container{
    padding: 50px;
    display: flex;
}

.left{
    flex: 2;
    padding: 0 3rem;
}

.generalInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(238, 238, 61);
}

.bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bloc h2{
    font-size: 1rem;
}

.bloc p{
    font-size: .9rem;
    margin-top: .5rem;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    padding: 0 1rem;
}

.paymentBloc{
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}

.paymentBloc span{
    font-size: 1.1rem;
}

.row:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
.done {
display: flex;
flex-direction: column;
align-items: center;
}

.inProgress {
display: flex;
flex-direction: column;
align-items: center;
animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.undone {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
}


.checkedIcon{
    color: #87B87F;
}


.undone .checkedIcon, .inProgress .checkedIcon{
    opacity: 0;
}

/* Right side - SUMMARY */

  .right{
    flex: 1;
}


.summary{
    flex: 30%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: rgb(44, 44, 44);
    color: white;
    height: 100%;
    
}

.summary h2{
    font-size: 1.1rem;
    text-transform: uppercase;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.extras{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.summaryBurgerExtras{
    margin: .5rem 0;
}

.summaryBurger{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.titleAndQtd{
    display: flex;
}

.burgerInfo{
    display: flex;
    justify-content: space-between;
}

.burgerInfo h4{
    margin-right: .5rem;
}

.extraIngredients span{
    font-size: .8rem;
}

.extrasInfo{
    width: 100%;
    flex-direction: column;
    align-items: flex-start
}

.subtotal{
    display: flex;
    justify-content: space-between;
}

.subtotal h2{
    margin-right: 2rem;
}

.extras span{
    width: 30px;
    transform: translateX(-2rem);
  
}

.totalPrice{
    font-size: 1.1rem;
    font-weight: 600;
}

.info h3{
    font-size: 1rem;
}

.line{
    margin: 1rem 0;
    color: black;
    border: 1px solid rgb(95, 95, 95);
}

.button{
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: .9rem 1rem;
}


.paypal{
    margin-top: 1rem;
}

.paid{
    background-color: transparent;
    border-radius: 5px ;
    color: rgb(48, 48, 48);
    border: 1px solid gray;
}

.paidButton{
    background-color: rgb(44, 170, 44);
    color: white;
}

