.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper{
    display: grid;
    width: 100%;
    padding: 1rem 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content: center;
    justify-items: center;
}

.desc{
    font-size: 24px;
    width: 60%;
    text-align: center;
}

.title{
    margin-top: 3rem;
}