.summary{
    flex: 30%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: rgb(44, 44, 44);
    color: white;
    height: 100%;
    
}

.summary h2{
    font-size: 1.1rem;
    text-transform: uppercase;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.extras{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.summaryBurgerExtras{
    margin: .5rem 0;
}

.summaryBurger{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.titleAndQtd{
    display: flex;
}

.burgerInfo{
    display: flex;
    justify-content: space-between;
}

.burgerInfo h4{
    margin-right: .5rem;
}

.extraIngredients span{
    font-size: .8rem;
}

.extrasInfo{
    width: 100%;
    flex-direction: column;
    align-items: flex-start
}

.subtotal{
    display: flex;
    justify-content: space-between;
}

.subtotal h2{
    margin-right: 2rem;
}

.extras span{
    width: 30px;
    transform: translateX(-2rem);
  
}

.totalPrice{
    font-size: 1.1rem;
    font-weight: 600;
}

.info h3{
    font-size: 1rem;
}

.line{
    margin: 1rem 0;
    color: black;
    border: 1px solid rgb(95, 95, 95);
}

.button{
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #FFC42B;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: .9rem 1rem;
}